[submodule "remote-apis"]
	path = remote-apis
	url = https://github.com/bazelbuild/remote-apis.git
[submodule "proposals"]
	path = proposals
	url = https://github.com/bazelbuild/proposals.git
[submodule "buildbox-integration"]
	path = buildbox-integration
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-integration.git
[submodule "buildbox-fuse"]
	path = buildbox-fuse
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-fuse.git
[submodule "buildbox-common"]
	path = buildbox-common
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-common.git
[submodule "buildbox-tools"]
	path = buildbox-tools
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-tools.git
[submodule "buildbox-casd"]
	path = buildbox-casd
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-casd.git
[submodule "buildbox-run-bubblewrap"]
	path = buildbox-run-bubblewrap
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-run-bubblewrap.git
[submodule "buildbox-e2e"]
	path = buildbox-e2e
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-e2e.git
[submodule "buildbox-run-hosttools"]
	path = buildbox-run-hosttools
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-run-hosttools.git
[submodule "buildbox-worker"]
	path = buildbox-worker
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-worker.git
[submodule "buildbox-run-userchroot"]
	path = buildbox-run-userchroot
	url = https://gitlab.com/BuildGrid/buildbox/buildbox-run-userchroot.git
[submodule "buildstream"]
	path = buildstream
	url = https://gitlab.com/BuildStream/buildstream.git
[submodule "buildgrid"]
	path = buildgrid
	url = https://gitlab.com/BuildGrid/buildgrid.git
[submodule "recc"]
	path = recc
	url = https://gitlab.com/bloomberg/recc.git
[submodule "bst-external"]
	path = bst-external
	url = https://gitlab.com/BuildStream/bst-external.git
[submodule "bst-plugins-experimental"]
	path = bst-plugins-experimental
	url = https://gitlab.com/BuildStream/bst-plugins-experimental.git
[submodule "bst-plugins-container"]
	path = bst-plugins-container
	url = https://gitlab.com/BuildStream/bst-plugins-container.git
